.bottom_panel {
    position: fixed;
    bottom:0;
    width:100%;
}

.add_flag, .remove_flag {
    margin: 10px;
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    width: 130px;
    height: 130px;
    background-color: #efeded;
}

.remove_flag {
    float: left;
}

.add_flag {
    float: right;
}

.add_flag:after, .remove_flag:after{
    color:#e9e6e4;
    content: "";
    font-size: 60px;
    display: block;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 30px;
}

.add_flag:after {
    content: "+";
    text-shadow:0px 0px 6px green;
    font-size:350%;
    color: green;
    right: 12%;
    top:43%;
}

.remove_flag:after {
    content: "-";
    color:#f94e66;
    text-shadow:0px 0px 6px #f94e66;
    font-size:500%;
    left: 18%;
    top:35%;
}

.add_flag img, .remove_flag img {
    height: 53%;
}

.add_flag img {
    position: absolute;
    top: 23%;
    right: 9%;
}

.remove_flag img {
    position: absolute;
    top: 23%;
    left: 8%;
}