.drag_n_drop_flags_container {
    position: relative;
    width: 65px;
    height: 50px;
}

img[class*="drag_n_drop_flag_"] {
    position: absolute;
    top: 15px;
}

img.drag_n_drop_flag_1 {
    left: 10px;
    top: 15px;
}

img.drag_n_drop_flag_2 {
    left: 15px;
    top: 18px;
}

img.drag_n_drop_flag_3 {
    left: 20px;
    top: 21px;
}

img.drag_n_drop_flag_4 {
    left: 25px;
    top: 24px;

    animation: 1.5s ease-out 0s infinite running move_eye;
}

@keyframes move_eye {
    from {
        margin-left: -5px;
        margin-top: -3px;
    }
    to {
        margin-left: 5px;
        margin-top: 3px;
    }
}