rect.initial {
    fill: #B8B8B8;
    stroke-width: 3;
    stroke: #585858;
}

rect.open {
    fill: #DCDCDC;
    stroke-width: 3;
    stroke: #DCDCDC;
}

rect.failedCell {
    fill: red;
}

text {
    font-size: 18pt;
    font-family: Verdana, serif;
}

.img-overlay-svg {
    position: relative;
}

.img-overlay-svg img {
    position: absolute;
    top: 0;
    left: 0;
}