.grid {
    display: grid;
    grid-template-columns: repeat(10, 33px);
    grid-template-rows: repeat(10, 33px);
    grid-column-gap: 0;
    grid-row-gap: 0;

    justify-content: center;
    border-style: outset;
}

.disabled {
    pointer-events: none;
}