span.question, span[class*="number_"] {
    font-size: 18pt;
    font-family: Verdana, serif;
    font-weight: 600;
    cursor: default;
    user-select: none;
}

span.question {
    color: darkblue;
    position: relative;
    left: -1px;
}

span.number_1 {
    color: blue;
}

span.number_2 {
    color: green;
}

span.number_3 {
    color: red;
}

span.number_4 {
    color: darkblue;
}

span.number_5 {
    color: darkred;
}

span.number_6 {
    color: cadetblue;
}

span.number_7 {
    color: black;
}

span.number_8 {
    color: grey;
}