.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background: #ffffff;
    display: flex;
    user-select: none;
}

.header .left_box {
    flex: 1;
    display: flex;
}

.header .centered_box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header .right_box {
    flex: 1;
}